body {
    /*width:;*/
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: Futura, "Trebuchet MS", Arial ;
    text-align: center;
}

#startpage {

}
#name {
    font-size: 15pt;
}
#rating {
    font-size: 20pt;
}

#clear_btn {
    float: right;
}

#noanswers {
    font-size: 15pt;
    padding: 0px 0px 0px 0px;
}

}